<?xml version="1.0" encoding="utf-8" ?>
   <configuration>
      <system.serviceModel>
         <bindings>
            <wsHttpBinding>
               <binding name="WSHttpBinding_CalculatorService" />
            </wsHttpBinding>
         </bindings>
         <client>
            <endpoint address="http://127.0.0.1:9999/calculatorservice" binding="wsHttpBinding"
               bindingConfiguration="WSHttpBinding_CalculatorService" contract="ServiceReference1.CalculatorService"
               name="WSHttpBinding_CalculatorService">
               <identity>
                  <userPrincipalName value="USER-20180910NX\Administrator" />
               </identity>
            </endpoint>
         </client>
         <behaviors>
               <serviceBehaviors>
                 <behavior name="metadataBehavior">
                       <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:9999/calculatorservice/metadata" />
                   </behavior>
               </serviceBehaviors>
        </behaviors>
         <services>
             <service behaviorConfiguration="metadataBehavior" name="Artech.WcfServices.Services.CalculatorService">
                <endpoint address="http://127.0.0.1:9999/calculatorservice" binding="wsHttpBinding" contract="Artech.WcfServices.Contracts.ICalculator" />
             </service>
        </services>
      </system.serviceModel>
  </configuration>